*{
    margin: 0;
    padding: 0;
}

header{
    background-image: url(Images/misty_morning_lake.jpg);
    background-size: cover;
    background-position: center;
    color: rgb(209, 188, 128);
    text-align: center;
    height: 60vh;
    padding-top: 10px;
}

header h1{
    margin-top: 25vh;
    font-size: 4vw;
}

nav{
    background-color: hsl(0, 0%, 10%);;
    box-shadow: 3px 3px 5px black;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
    /*font-style: oblique;*/
}

nav li:first-child{
    margin-right: auto;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    font-size: 1.5rem;
}

nav a:hover{
    background-color: rgb(209, 188, 128);
    color: black;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(200, 200, 200, 0.8);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; 
}

.sidebar li{
    width: 100%;
}

body{
    background-color: hsl(0, 0%, 5%);;
    color: whitesmoke;
}

article{
    width: 60%;
    margin: 20px auto;
    padding: 0;
    background-color: hsl(0, 0%, 10%);
    border: 1px solid hsl(0, 0%, 15%);
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
}

.article-header{
    height: 150px;
    background-color: yellow;
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
    
}

h2{
    text-align: center;
}

h3, h4{
    margin: 0 20px;
}

.article-header h3{
    font-size: 2vw;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.438)
}

p{
    width: 60%;
    margin: 20px;
}

ul{
    margin: 15px;
}

.icon{
    stroke: black;
    stroke-width: 24;
    stroke-linecap: round;
}

.icon:hover{
    stroke: white;
    stroke-width: 15;
}
@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
}

/*   Specifika artiklar   */

#horse-chestnut-cleaner .article-header{
    background-image: url(Images/horse-chestnut/basket-close.jpg);
}